<div class="col-lg-12">
	<div class="form-group">
		<a [routerLink]="['/admin/']" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> Trở về</a>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<form (ngSubmit)="onSubmitCreate(createCategoryForm.value)" #createCategoryForm="ngForm">
			<fieldset>
				<legend class="text-center text-uppercase">Thêm danh mục</legend>
				<div class="form-group">
					<label for="title" class="col-lg-12">Tiêu đề</label>
					<div class="col-lg-12">
						<input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề" ngModel #title="ngModel" required>
						<div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">Tiêu đề bắt buộc nhập</div>
					</div>
				</div>

				<div class="form-group">
					<label for="describe" class="col-lg-12">Mô tả</label>
					<div class="col-lg-12">
						<textarea class="form-control" rows="5" id="describe" name="describe" placeholder="Mô tả danh mục" ngModel></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-12">
						<label for="visibility">Hiển thị: </label> <input type="checkbox" id="visibility" name="visibility" ngModel>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary" [disabled]="createCategoryForm.invalid">Create</button>
						<a [routerLink]="['/admin/categories']" class="btn btn-default">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>