<!DOCTYPE html>
<html>
<head>
	<title><%- subject %></title>
</head>
<body>
<h3>Yêu cầu quên mật khẩu</h3>
	<p>Chào bạn <strong><%- name %></strong></p>
	<p>Yêu cầu mật khẩu mới của bạn là: <%- pass %></p>
	<p>Bạn hãy truy cập vào <a href="http://no-accent.96.lt">LINK</a>, đăng nhập với mật khẩu trên để đổi mật khẩu mới.</p>
</body>
</html>