<div class="container-fluid">
	- Chào các bạn đã ghé thăm blog cá nhân của tôi. Đây là một dự án xây dựng blog cá nhân trên nền tảng NodeJs và Angular2.

	<ul>
		<li> <b>NodeJS</b> để xử lý yêu cầu phía client gửi xuống Backend.</li>
		<li> <b>Angular2</b> để hiển thị thông tin được trả về từ phía server.</li>
	</ul>

	- Để thực hiện được đề tài này, đối với người không theo chuyên về công nghệ như tôi quả thật là 1 điều rất khó khăn. Tôi đã cố gắng khá nhiều để có thể chập chững với ngôn ngữ <b>TypeScript 6</b> trong <b>Angular2</b>. 

	- Động lực để hoàn thành được đồ án này là chúng tôi muốn ra trường.
</div>
