<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
    </li>
    <li>
        <a [routerLink]="['/' + page + '/bai-viet']">Bài viết</a>
    </li>
    <li class="active" *ngIf="selectedArticle">{{ selectedArticle.title }}</li>
</ol>

<div class="date-outer" *ngIf="selectedArticle">
    <h2 class="date-header"><span>Wednesday, April 23, 2014</span></h2>
    <div class="date-posts">

        <div class="post-outer">
            <article class="post hentry">
                <header class="entry-header">
                    <h1 class="post-title entry-title">
                        <a [routerLink]="['/' + page, selectedArticle._id]">
                            {{ selectedArticle.title }}
                        </a>
                    </h1>
                </header>
                <div class="post-body entry-content">
                    <div [innerHTML]="selectedArticle.content"></div>
                </div>
            </article>
            <div style="clear: both;"></div>
            <!-- <div class="blog-pager" id="blog-pager">
                <a [routerLink]="['/']">Trang Chủ</a>
            </div> -->
        </div>
    </div>
</div>