<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
    </li>
    <li class="active">Bài viết</li>
</ol>

<div *ngIf="articles.length===0">
	<p class="well">Chưa có bài viết nào</p>
</div>
<app-article *ngFor="let article of articles | paginate: { itemsPerPage: 10, currentPage: p, id: 'article' }"
				[article]="article" (selectedEvent)="onSelect($even)"></app-article>
<pagination-controls (pageChange)="p = $event" id="article"></pagination-controls>